<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
 

      <footer class="site-footer">
        <span class="site-footer-credits"> <a href="https://entcollnet.github.io/BugFlow/">Return to BugFlow Main Page</a>.</span>
        <br>
       <div style="display:block;float:center;padding: 7px;vertical-align:center;">
        <img width="150" alt="iDigBio logo" src="https://www.idigbio.org/sites/default/files/idigbio_logo_0.png"><img width="150" alt="Entomological Collections Network Logo" src="https://raw.githubusercontent.com/EntCollNet/BugFlow/master/_layouts/ECNlogo.jpg">
      </div>
        
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        
      </footer>
    </main>
  </body>
</html>
