<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
   

{% seo %}

    <div style="display:block;width:100%;height:250px;padding-top:35px;padding-bottom:50px;">
      <div style="display:block;width:30%;min-width:170px;max-height:245;float:left;padding: 2px;padding-left:35px;vertical-align:center;align:center;">

        <img style="display:block; margin-left:auto; margin-right:auto;width:90%;max-width: 250px;" alt="BugFlow Logo" src="https://github.com/ksorellana/ksorellana.github.io/blob/main/_layouts/ASUCOB0014307_lateral_edited.jpg?raw=true">
      </div>
      
      
      <h1 style="font-weight:bold;font-size: 80px; color:#159957;margin:1px">K. Samanta Orellana</h1>
      <h2 style="font-size:20px; color:#159957;margin:10px">Entomological collections, digitization and anthribids!</h2>      
    </div>
    
      <div height="25px" style="clear:both;text-align:center;">
        <a href="https://ksorellana.github.io/anthribidae/">Anthribidae</a> <a href="https://github.com/ksorellana/Anthribiddae" style="padding-left:10px;">View on GitHub</a> 
      </div>
    
    <header class="page-header" role="banner" style="padding:0px 0px; height:15px; max-height:15px;">
      <!-- changed height from 350 to 15, commenting out this part
      <div style="display:block;width:30%;min-width:170px;height:345px;float:left;padding: 7px;vertical-align:center;">
        <img width="250" alt="BugFlow Logo" src="https://github.com/ksorellana/ksorellana.github.io/blob/main/_layouts/ASUCOB0014307_lateral_edited.jpg?raw=true">
      </div>
      
      
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
     -->
    </header>
    </main>
  </body>
</html>
